/*-----------NAVBAR STYLES---------------*/
body {
    margin: 0;
    height: 2000px;
    background-color: whitesmoke;
}

ul, h1 {
    margin: 0;
    padding: 0;
}

.nav-container {
    height:80px;
    background-color: white;
    position: fixed;
    top:  0;
    right: 0;
    left: 0;
    z-index:3;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.3);
}

a#logo {
    background: url(graphics/logo.png) no-repeat;
    background-size: contain;
    background-position-y: center;
    text-align: center;
    display: inline-block;
    height: 76px;
    width: 200px;
    margin: 0px 0 0 10%;
}

#nav-box {
    height: 100%;
    display:inline-block;
    float: right;
    margin-right: 10%;
}

.menu-smallscreen {
    display:none;
}

.nav-list {

    list-style-type: none;
    display: inline-block;
    padding: 28px 20px;
}
.nav-list a {
    text-decoration: none;
    padding: 29px 0;
    color: orangered;
    font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
    font-size: 24px;
    text-shadow: 0 0px 1px rgba(255, 69, 0, 0.2);
}

.nav-list a:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.nav-list a:hover:after {
    width: 100%;
    background: orangered;
}

svg {
    position:absolute;
    top: 25px;
    right: 25px;
}

/*MEDIA queries navbar-----------------------------------------*/
@media screen and (max-width: 760px) {
    #nav-box {
        display:none;
        float:none;
        margin-right: 0;
    }
    ul {
        padding: 0;
    }

    .nav-list {
        color: #FF6D32;
        font-size: 20px;
        background-color: white;
        text-align: center;
        display:block;
    }

    .nav-list a {
        padding: 20px 60px;
        width: inherit;
    }
    .nav-list:hover a{
        color: white;
    }
    .nav-list:hover {
        background-color: orangered;
    }
    .nav-list a:after {
        content: '';
        display: block;
        position:relative;
        top: 10px;
        height: 3px;
        width: 0;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }

    svg:hover +#nav-box{
        display:block;
    }

    .menu-smallscreen {
        display: inline-block;
        float: right;
        margin:15px 15px;
        width: 50px;
        height: 50px;
    }

    .menu-smallscreen:before {
        display:inline-block;
        float: right;
        content:'';
        width: 50px;
        height: 50px;
        background-image: url('graphics/orangemenu.png');
        background-size: contain;
        background-color: white;
    }
    .menu-smallscreen:checked:before {
        display:inline-block;
        float: right;
        content:'';
        width: 50px;
        height: 50px;
        /*background-color: orangered;*/
    }

    .menu-smallscreen:checked +#nav-box {
        display:block;
        background-color: antiquewhite;
    }
    .nav-list a:after {
        display: none;
    }

}

/*end of navbar------------------*/
#one {
    margin-top: 80px;
}


/*style section two - commenced*/

.function_main {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-family: "DejaVu Sans", Arial, sans-serif;
}

.function {
    /*float: left;*/
    width: 20%;
    background-color: lightblue;
    padding: 10px;
    margin: 0;
}

.function_summary {
    clear: both;
    background-color: lightblue;
    padding: 20px 0;
    margin: auto;
    /*border: solid 1px black;*/
    width: 80%;
    font-family: "DejaVu Sans", Arial, sans-serif;
}

/*end of navbar------------------*/

.picture1 {

    background: url("./graphics/go_out_gdansk.jpg") no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
    background-position: center -100px;
}

.intro {
    position: relative;
    color: white;
    text-shadow: 0 0 15px #3A3E40;
    font-size: 120px;
    text-align: center;
    padding-top: 200px;
    font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
}

.intro-male {
    position: relative;
    color:white;
    font-size: 50px;
    text-shadow: 0 0 15px #3A3E40;
    text-align: center;
    font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
}
#pond {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color:#FF6D32;
    color: white;
    font-size: 40px;
    border-radius: 15px;
    padding: 20px 100px;
    font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
    text-decoration: none;
}
.button:hover {
    background-color:#fd5d1d;
    text-shadow: 1px 1px 3px #3A3E40;
}

.button-container {
    text-align: center;
    padding-top: 40px;
}

@media screen and (max-width: 1400px) {
    .intro {
        font-size: 80px;
        padding-top: 100px;

    }
    .intro-male {
        font-size: 30px;
    }
    .button {
        font-size: 35px;
        border-radius: 15px;
        padding: 20px 80px;
     }
}

/*style section two - commenced ---------------------------*/
.function_main {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-family: "DejaVu Sans", Arial, sans-serif;
    font-size: 14px;
}
.function {
    /*float: left;*/
    width: 20%;
    background-color: #d8d8d8;
    padding: 30px 10px 20px 10px;
    margin: 0;
    text-align: center;
    border-radius: 20px
}
.function i{
    font-size: 72px;
}

@media screen and (max-width:800px){
    .function_main {
        display: block;
        font-size: 14px;
    }
    .function{
        margin: auto;
        width:80%;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .function_summary{
        font-size: 14px;
    }

}

.function_summary {
    /*clear: both;*/
    background-color: #d8d8d8;
    padding: 35px 20px;
    margin: auto;
    /*border: solid 1px black;*/
    width: 77%;
    text-align: center;
    font-family: "DejaVu Sans", Arial, sans-serif;
    font-size: 16px;
    border-radius: 20px;
}
    /*style section two - end*/

/*styles section three*/
/*#three {*/
    /*height: 100vh;*/
/*}*/
/*.person-together {*/
    /*text-align: center;*/
    /*margin-top: 620px;*/

/*}*/


/*style section two - end*/
/* Sekcja o NAS - START--_-------------------------------------------- */
.main_box {
    width: 80%;
    margin: 10%;
    display: flex;
    justify-content: space-between;
}
.temp_box{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.person {
    width: 40%;
    border: solid;
    display: inline-block;
    /*width: 180px;*/
    border-radius: 50px;
    padding-top: 160px;
    padding-bottom: 30px;
    margin: 10px;
    font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
}

.person:hover {
    border: 2px solid tomato;
}
.person p {
    text-align: center;
}
.three-icons {
    position: relative;
    margin-left: 40px;
}

@media screen and (max-width:900px) {
    .main_box {
        display: block;
    }
    .temp_box{
        width: 80%;
        margin: auto auto 60px;
    }
}
@media screen and (max-width:600px) {
    .temp_box {
        display: block;
    }
    .person{
        width: 80%;
        margin: auto auto 60px;
    }
}
/* end section three  */
/*beginning section four*/
#four{
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.four-form {
    text-align: center;
    font-size: 25px;
    font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
    font-weight: bold;
    padding-top: 80px;
    margin-bottom: 25px;
}
input[type="email"] {
    margin: 0 15px 25px;
    border-style: none;
    border-bottom: 2px solid tomato;
    background-color: whitesmoke;
    font-size: 20px;
    font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
}
.checkbox-agreement {
    position:relative;
    padding: 0 10px 0 35px;
    max-height: 80px;
    max-width: 612px;
    border-style: none;
    margin: auto;
}
.checkbox-agreement input {
    position: absolute;
    top: 0;
    left: 10px;
}
.checkbox-agreement div {
    font-size: 11px;
    font-weight: normal;
    font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
}
input[type="submit"] {
    height: 60px;
    width: 180px;
    background-color: tomato;
    border-style: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
    color: white;
}
.four-submit {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
}
.four-info {
    text-align: center;
    font-size: 15px;
    font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
    padding: 5px;
}
/*styles section four - end*/