/*-----------NAVBAR STYLES---------------*/
body {
    margin: 0;
    height: 2000px;
    background-color: whitesmoke;
}

ul {
    margin: 0;
}

.nav-container {
    height:80px;
    background-color: Tomato;
    position: fixed;
    top:  0;
    right: 0;
    left: 0;
}

#logo {
    width:20%;
    height:100%;
    color: white;
    font-family: "DejaVu Sans", Arial, sans-serif;
    text-align: center;
    font-size: 36px;
    display:inline-block;
}

#logo a {
    text-decoration: none;
    color: white;
    display:inline-block;
    padding-top: 20px;
}

#nav-box {
    height: 100%;
    display:inline-block;
    float: right;
    margin-right: 10%;
}

.nav-list {
    color: whitesmoke;
    font-family: "DejaVu Sans", Arial, sans-serif;
    list-style-type: none;
    display: inline-block;
    padding: 30px 20px;
    font-size: 30px;
    line-height: 20px;
}
.nav-list a {
    text-decoration: none;
    color: whitesmoke;
}

.nav-list:hover {
    background-color: orangered;
}

/*end of navbar------------------*/
#one {
    margin-top: 80px;
}


/*style section two - commenced*/

.function_main {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-family: "DejaVu Sans", Arial, sans-serif;
}
.function {
    /*float: left;*/
    width: 20%;
    background-color: lightblue;
    padding: 10px;
    margin: 0;
}
.function_summary {
    clear: both;
    background-color: lightblue;
    padding: 20px 0;
    margin: auto;
    /*border: solid 1px black;*/
    width: 80%;
    font-family: "DejaVu Sans", Arial, sans-serif;
}

/*end of navbar------------------*/

.picture1 {

    background-image:url("./graphics/go_out_gdansk.jpg");
    background-size: cover;
    height: 750px;
    position: relative;
}
.intro  {
    position: absolute;
    top:150px;
    right: 400px;
    color: white;
    font-size: 200px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}



/*style section two - commenced*/
.function_main {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-family: "DejaVu Sans", Arial, sans-serif;
    font-size: 16px;
}
.function {
    /*float: left;*/
    width: 22%;
    background-color: lightblue;
    padding: 30px 10px 20px 10px;
    margin: 0;
    text-align: center;
}
.function i{
    font-size: 72px;
}
.function_summary {
    /*clear: both;*/
    background-color: lightblue;
    padding: 35px 20px;
    margin: auto;
    /*border: solid 1px black;*/
    width: 77%;
    text-align: center;
    font-family: "DejaVu Sans", Arial, sans-serif;
    font-size: 12px;
    /*style section two - end*/
}
/*styles section three*/
#three {
    height: 100vh;
}
.person-together {
    text-align: center;
    padding-top: 150px;
}
.person {
    display: inline-block;
    border: solid;
    width: 180px;
    height: 200px;
    border-radius: 50px;
    padding-top: 160px;
    margin: 10px;
}

/*styles section four*/
#four {
    height: 100vh;
}
.four-form {
    text-align: center;
    font-size: 25px;
    font-family: "DejaVu Sans", Arial, sans-serif;
    font-weight: bold;
    padding-top: 80px;
    margin-bottom: 25px;
}
input[type="email"] {
    margin: 0 15px 25px;
    border-style: none;
    border-bottom: 2px solid tomato;
    background-color: whitesmoke;
    font-size: 20px;
    font-family: "DejaVu Sans", Arial, sans-serif;
}
.checkbox-agreement {
    position:relative;
    padding: 0 10px 0 35px;
    max-height: 80px;
    max-width: 612px;
    border-style: none;
    margin: auto;
}
.checkbox-agreement input {
    position: absolute;
    top: 0;
    left: 10px;
}
.checkbox-agreement div {
    font-size: 11px;
    font-weight: normal;
    font-family: "DejaVu Sans", Arial, sans-serif;
}
input[type="submit"] {
    height: 60px;
    width: 180px;
    background-color: tomato;
    border-style: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: "DejaVu Sans", Arial, sans-serif;
    color: white;
}
.four-submit {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
}
.four-info {
    text-align: center;
    font-size: 15px;
    font-family: "DejaVu Sans", Arial, sans-serif;
    padding: 5px;
}
/*styles section four - end*/
