table {
    margin: 0 auto;
    background-color: whitesmoke;
}
.cell {
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #ccced1;
    /*background: url(../graphics/small_steps.png);*/
}

.hide {
    display: none;
}

.show {
    display: block;
}
#game, #startbutton,#scorebutton, #timer {
    display: none;
}

.player {
    background: url(../graphics/party.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 0px 40px white;
}

.cinema {
    background-image: url(../graphics/icons/facebook.png);
}
.theatre {
    background-image: url(../graphics/icons/linkedin.png);
}
