table {
    margin: 0 auto;
}
.cell {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #ccced1;
    background: url(../graphics/small_steps.png);
}
}
.hide {
    display: none;
}

.show {
    display: block;
}
#game, #startbutton {
    display: none;
}

.player {
    background: url(../graphics/player.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}