table {
    margin: 0 auto;
    background: url(../graphics/tlo2.jpg) no-repeat;
  background-size: contain;

}
.cell {
    width: 70px;
    height: 70px;
    background: transparent;
    border: 1px solid #ccced1;
}

.hide {
    display: none;
}

.show {
    display: block;
}
#game, #startbutton,#scorebutton, #timer {
    display: none;
}

.player {
    background: url(../graphics/party.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*box-shadow: 0px 0px 0px 40px white;*/
}

.cinema {

    background-image: url(../graphics/icons/coffee.png);
  background-size: contain;
}
.theatre {

    background-image: url(../graphics/icons/food.jpg);
  background-size: contain;
}
